{% extends 'base.html' %}
{% load static %}


{% block content %}
 <!-- About Start -->
 <div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/img-1.jpg' %}" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="{% static 'img/logo_multi.jpg' %}" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="about-ttdpt">
                    <h3 class="h3-about"> Được Hình  Thành Từ Năm 1995 </h3>
                    <hr />

                    <p class="p-about"> Tiền thân của Khoa Truyền thông đa phương tiện là Bộ môn Tin học được thành lập vào năm 1995. Sau đó, đến năm 2007, Bộ môn Tin học đổi tên thành Bộ Môn Tin học ứng dụng. Ngày 29/09/2022, Bộ môn Tin học ứng dụng chuyển thành Khoa Truyền thông đa phương tiện (TTĐPT) theo nghị quyết của Hội đồng Trường Đại học Cần Thơ.

                        Đội ngũ giảng viên của Khoa bao gồm 05 Tiến sĩ và 11 Thạc sĩ. 
                        <br /> Khoa đang đào tạo ngành Truyền thông đa phương tiện bậc đại học. Ngoài ra, Khoa còn đảm nhận giảng dạy các học phần Tin học ứng dụng và học phần Tin học căn bản cho các ngành đào tạo khác của Trường Đại học Cần Thơ. 
                        <br /> Trong những năm tiếp theo, cùng với sự phát triển không ngừng của lĩnh vực công nghệ thông tin toàn cầu, Khoa là đơn vị đào tạo ngành Truyền thông đa phương tiện và chuyên ngành Tin học ứng dụng cùng với phát triển nghiên cứu khoa học, chuyển giao công nghệ nhằm đáp ứng nhu cầu về nhân lực công nghệ thông tin và truyền thông ở vùng Đồng bằng Sông Cửu Long nói riêng và cả nước nói chung. 
                    </p>
                    <br />
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 800px;">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/banner.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="about-ttdpt">
                    <hr />

                    <p>
                        Khoa cũng được trang bị các điều kiện về học liệu và cơ sở vật chất kỹ thuật phục vụ đào tạo cơ bản đáp ứng được nhu cầu học tập và thực hành của sinh viên ngành truyền thông đa phương tiện.
                    </p>
                    <p>
                        Sinh viên tốt nghiệp từ Khoa Báo chí và Truyền thông có khả năng làm phóng viên, bình luận viên, biên tập viên, cộng tác viên, thông tín viên cho các cơ quan truyền thông đại chúng như báo in, đài phát thanh, đài truyền hình, báo trực tuyến, hãng thông tấn, các cơ quan xuất bản, chuyên viên truyền thông, làm việc trong lĩnh vực quảng cáo, quan hệ công chúng,... Các kỹ sư Truyền thông đa phương tiện còn có khả năng làm cán bộ nghiên cứu, giảng dạy tại các cơ sở đào tạo và nghiên cứu về báo chí, truyền thông; làm cán bộ chức năng trong các cơ quan quản lý báo chí, xuất bản; hoặc thực hiện các nhiệm vụ đòi hỏi những kiến thức cơ bản, hệ thống về truyền thông và kỹ năng, nghiệp vụ báo chí như các cơ quan văn hoá – tư tưởng, các bộ phận thông tin tổng hợp của các cơ quan, đơn vị, tổ chức chính trị xã hội, kinh tế, ngoại giao,…
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


{% endblock %}