{% extends 'base.html' %}
{% load static %}



{% block content %}
<!-- Team Start -->
<div class="container-xxl py-6">
    <div class="container" style="margin: 35px">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1000px;">
            <h6 class="text-primary text-uppercase mb-2">Sinh Viên Được Giảng Dạy Bởi</h6>
            <h1 class="display-6 mb-4 larger-font wider-heading">Đội Ngũ Giảng Viên Chất Lượng Cao</h1>
        </div>
        <div class="row g-0 team-items">


            <!--Dr Nguyen Huu Hoa -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/NHHoa.jpg' %}" alt="Dr Nguyen Huu Hoa">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Nguyễn Hữu Hoà</h5>
                        <span>Tiến Sĩ</span>
                        <p class="mt-2">Email: nnhoa@ctu.edu.vn</p>
                        <span>Hiệu Trưởng Trường Công Nghệ Thông Tin & TT</span>
                    </div>
                </div>
            </div>

            <!--Dr Nguyen Nhi Gia Vinh -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/NNGVinh.jpg' %}" alt=" Dr Nguyen Nhi Gia Vinh">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Nguyễn Nhị Gia Vinh</h5>
                        <span>Tiến Sĩ</span>
                        <p class="mt-2">Email: nngvinh@ctu.edu.vn</p>
                        <span>Trưởng Khoa</span>
                    </div>
                </div>
            </div>

            <!--Msc Ho Van Tu -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/HVTu.jpg' %}" alt="Msc Ho Van Tu">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Hồ Văn Tú</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-2">Email: hvtu@ctu.edu.vn</p>
                        <span>P. Trưởng Khoa</span>
                    </div>
                </div>
            </div>


            <!--Dr Bui Quoc Chinh -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/BQChinh.png' %}" alt="Dr Bui Quoc Chinh">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Bùi Quốc Chính</h5>
                        <span>Tiến Sĩ</span>
                        <p class="mt-2">Email: bqchinh@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Dr Tran Hoang Viet -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/THViet.png' %}" alt="Dr Tran Hoang Viet">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Trần Hoàng Việt</h5>
                        <span>Tiến Sĩ</span>
                        <p class="mt-2">Email: thviet@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            
            <!--Dr Pham Truong Hong Ngan -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/PTHNgan.jpg' %}" alt="Dr Pham Truong Hong Ngan">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2" >Phạm Trương Hồng Ngân</h5>
                        <p>Tiến Sĩ</p>
                        <p class="mt-2">Email: pthngan@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Hoang Minh Tri -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/HMTri.png' %}" alt="Msc Hoang Minh Tri">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Hoàng Minh Trí</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: hmtri@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Huynh Phung Toan -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/HPToan.jpg' %}" alt="Msc Huynh Phung Toan">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Huỳnh Phụng Toàn</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: hptoan@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Dang My Hanh -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/DMHanh.png' %}" alt="Msc Dang My Hanh">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Đặng Mỹ Hạnh</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: dmhanh@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Le Minh Ly -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/LMLy.jpg' %}" alt="Msc Le Minh Ly">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Lê Minh Lý</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: lmly@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>

                </div>
            </div>

            <!--Msc Le Thi Diem -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/LTDiem.png' %}" alt="Msc Le Thi Diem">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Lê Thị Diễm</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: ltdiem@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>


            <!--Msc Le Van Quan -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/LVQuan.jpg' %}" alt="Msc Le Van Quan">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Lê Văn Quan</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: lvquan@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Nguyen Duc Khoa -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/NDKhoa.jpg' %}" alt="Msc Nguyen Duc Khoa">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Nguyễn Đức Khoa</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: ndkhoa@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Nguyen Thi Thuy Linh -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/NTTLinh.jpg' %}" alt="Msc Nguyen Thi Thuy Linh">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Nguyễn Thị Thuỳ Linh</h5>
                        <span>Thạc Sĩ - Nghiên Cứu Sinh</span>
                        <p class="mt-1">Email: nttlinh@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Vu Duy Linh -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/VDLinh.png' %}" alt="Msc Vu Duy Linh">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Vũ Duy Linh</h5>
                        <span>Thạc Sĩ</span>
                        <p class="mt-1">Email: vdlinh@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--Msc Vo Hoang Dang -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/VHDang.jpg' %}" alt="Msc Vo Hoang Dang">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Võ Hoàng Đăng</h5>
                        <span>Thạc Sĩ - Nghiên Cứu Sinh</span>
                        <p class="mt-1">Email: vhdang@ctu.edu.vn</p>
                        <span>Giảng Viên</span>
                    </div>
                </div>
            </div>

            <!--TA Nguyen Viet Thanh  -->
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative">
                    <div class="position-relative members">
                        <img class="img-fluid" src="{% static 'img/avt-ttdpt/NVThanh.jpg' %}" alt="TA Nguyen Viet Thanh">
                        <div class="team-social text-center">
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="mt-2">Nguyễn Viết Thanh</h5>
                        <span>Kĩ Sư</span>
                        <p class="mt-1">Email: vietthanh@ctu.edu.vn</p>
                        <span>Trợ Giảng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


{% endblock %}